<!DOCTYPE html>
<html>
  <head>
    <title>Acehook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container">
      <header>
        <p>Acehook</p>
      </header>

    <br></br>

      <% if logged_in? %>
        <%= link_to "プロフィール", user_path(current_user.id) %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "新規に登録する", new_user_path %>
        <%= link_to "ログインする", new_session_path %>
      <% end %>


      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <%= yield %>

      <footer>
        <p>Copyright &copy; 2022 DIC.</p>
      </footer>
    </div>
  </body>
</html>
